{% extends 'base.html' %}


{% block content %}

<h1 class="margintopvh center">Add An Event</h1>
<div class="card round">
    <div class="card-content">
<form action="{% url 'new_event' user.id %}" method="POST">
    {% csrf_token %}
    <label>Event Name:</label>
    <input type="text" name="event_name">
    <label>Event Type:</label>
    <input type="text" name="event_type">
    <label>Location:</label>
    <input type="text" name="location">
    <label>Artist:</label>
    <input type="text" name="artist">
    <label>Image url:</label>
    <input type="text" name="image">
    <label>Description:</label>
    <input type="text" name="description">
    <label>Date:</label>
    <input type="date" name="date">
    <input type="submit" class="btn addEvent" value="add event">
</form>
</div>
</div>

{% endblock content %}
    