{% extends 'base.html' %} {% block content %}

<h1>Event {{ event.event_name }}</h1>

<img src="{{ event.image }}" alt="event photo">

<div class="row">
  <div class="col s8">
    <div class="card">
      <div class="card-content">
<a href="{% url 'update_event' event.id %}"><button class="btn">Update Event</button></a>
<ul>
  <li>{{ event.event_type }}</li>
  <li>{{ event.location }}</li>
  <li>{{ event.artist }}</li>
  <li>{{ event.image }}</li>
  <li>{{ event.description}}</li>
  <li>{{ event.date }}</li>
  <li>{{ event.url_ticketmaster }}</li>
  </ul>
  

    
  <!-- {{user.user_avatar_set.first.user_event_set.all}} -->
  
  {% if show_going == True %}
  <a href="{% url 'going_event' event.id user.id %}"><button class="btn">Going to the Event</button></a>
  {% endif %}
<br>

</div>
</div>
</div>
<div class="col s4">
  <div class="card">
    <div class="card-content">
<h5>People going to the event</h5>
<ul>
  {% for user in event.user_event_set.all %}
<br>
  <li><a href="{% url 'user_detail' user.user.user.id %}" >{{user.user.user}}</a></li>
{% endfor %}
</ul>
</div>
  </div>
  </div>
</div>
<form method="POST" action="{% url 'create_comment' event.id user.id %}">
  {% csrf_token %}
  <input type="textarea" name="content" />
  <input type="submit" name="submit" />
</form>
{% for comment in event.comment_set.all %}
<ul>
  <li>{{comment.user}}</li>
  <li>{{comment.content}}</li>

  {% if comment.user.id == user.id %}
  <li><a href="{% url 'update_comment' event.id comment.id user.id %}"><button>update</button></a></li>
  <a href="{% url 'delete_comment' event.id comment.id user.id %}">X</a>
  {% endif %}
    
</ul>
{% empty %}
<p>No comments yet</p>
{% endfor %} 

{% endblock content %}
