{% extends 'base.html' %} {% block content %}

<h1>Event {{ event.event_name }}</h1>



  
<div class="row">
  <div class="col s6">
<a href="{% url 'update_event' event.id %}"><button class="btn">Update Event</button></a>
<ul>
  <li>{{ event.event_type }}</li>
  <li>{{ event.location }}</li>
  <li>{{ event.artist }}</li>
  <li>{{ event.image }}</li>
  <li>{{ event.description}}</li>
  <li>{{ event.date }}</li>
  <li>{{ event.url_ticketmaster }}</li>
  </ul>
<a href="{% url 'going_event' event.id user.id %}"><button class="btn">Going to the Event</button></a>
<br>
<form method="POST" action="{% url 'create_comment' event.id %}">
  {% csrf_token %}
  <input type="textarea" name="content" />
  <input type="submit" name="submit" />
</form>
</div>
<div class="col s6">
<h4>Poeple going to the event</h4>
<ul>
  {% for user in event.user_event_set.all %}
<br>
  <li><a href="{% url 'user_detail' user.user.user.id %}" >{{user.user.user}}</a></li>
{% endfor %}
</ul>
  </div>
</div>
{% for comment in event.comment_set.all %}
<ul>
  <li>{{comment.user}}</li>
  <li>{{comment.content}}</li>
  <li><a href="{% url 'update_comment' event.id comment.id %}"><button>Update</button></a></li>
  <li><a href="{% url 'delete_comment' event.id comment.id %}"><button>Delete</button></a></li>
</ul>
{% empty %}
<p>No comments yet</p>
{% endfor %} 

{% endblock content %}
