{% extends 'base.html' %}

{% block content %}

<h1>Events</h1>
<a href="{% url 'search' %}"><button class="btn">Search</button></a>

{% for event in events %}
<h3>{{ event.event_name }}</h3>
<ul>
    <li>{{ event.event_type }}</li>
    <li>{{ event.location }}</li>
    <li>{{ event.artist }}</li>
    <li>{{ event.image }}</li>
    <li>{{ event.description}}</li>
    <li>{{ event.date }}</li>
    <li>{{ event.url_ticketmaster }}</li>
</ul><a href="{% url 'event_detail' event.id %}">Details</a>
{% endfor %}
   
{% endblock content %}
