{% extends 'base.html' %} {% block content %} {% if events %}
<div>
  <h1>Search for events</h1>
  <form method="GET" action="{% url 'search' %}">
    {% csrf_token %}
    <input type="search" name="q" placeholder="Search..." autocomplete="off" />
    <input class="hide-on-med-and-down" type="submit" name="Search" value="Search" />
  </form>
</div>
<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Venue</th>
      <th>Type</th>
      <th>Date</th>
      <th>Create</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{event.name}}</td>
      <td>
        {% for venue in event.venues %} {{venue.name}} {% empty %} No venues 
        {%endfor %}
      </td>
      <td>{% for item in event.classifications %} {{item.segment.name}} {% endfor %}</td>
      <td>{{event.dates.start.localDate}}</td>
      <th>
        <form method="POST" action="{% url 'ticketmaster_create' event.id %}">
          {% csrf_token %}
          <input type="submit" value="Create event" />
        </form>
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No venue found...</p>
{% endif %} {% endblock content %}
