{% extends 'base.html' %} {% block content %} 
<div>
  
  <h1 class="margintopvh center">Search For Events</h1>
  </div>
  <div class="card round">
    <div class="card-content">
  <form method="GET" action="{% url 'search' %}">
    {% csrf_token %}<div class="row valign-wrapper">
      <div class="col s11">
    <input type="search" name="q" placeholder="Search..." autocomplete="off" />
    </div>
    <div class="col s1">
    <input class="hide-on-med-and-down btn" type="submit" name="Search" value="Go" />
    </div>
    </div>
  </form>
{% if events %}
<div class="border round">
<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Venue</th>
      <th>Type</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{event.name}}</td>
      <td>
        {% for venue in event.venues %} {{venue.name}} {% empty %} No venues 
        {%endfor %}
      </td>
      <td>{% for item in event.classifications %} {{item.segment.name}} {% endfor %}</td>
      <td>{{event.dates.start.localDate}}</td>
      <th>
        <form method="POST" action="{% url 'ticketmaster_create' event.id user.id %}">
          {% csrf_token %}
          <input type="submit" class="btn" value="Details" />
        </form>
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<p>No venue found...</p>
{% endif %} 
</div>
</div>
{% endblock content %}
