{% extends 'base.html' %}


{% block content %}

    

<h1 class="margintopvh center">Update An Event</h1>
<div class="card round">
    <div class="card-content">
<form action="{% url 'update_details' event.id user.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <label>Event Name:</label>
    <input type="text" name="event_name" value="{{event.event_name}}">
    <label>Event Type:</label>
    <input type="text" name="event_type" value="{{event.event_type}}">
    <label>Location:</label>
    <input type="text" name="location" value="{{event.location}}">
    <label>Artist:</label>
    <input type="text" name="artist" value="{{event.artist}}">
    <label>Description:</label>
    <input type="text" name="description" value="{{event.description}}">
    <label>Date:</label>
    <input type="date" name="date" value="{{event.date}}">
    <label>Image:</label>
    <input type="file" name="photo">
    <input type="submit" class="btn addEvent" value="Update Event">
</form>
</div>
</div>







{% endblock content %}