{% extends 'base.html' %}


{% block content %}
<div class="wrapper">
<div class="card margintopvh round">
  <div class="card-content">
<div class="userTitle">{{ user }}</div>
</div>
</div>
</div>
<div class="card round">
  <div class="card-content">
<form action="{% url 'add_photo' user.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <textarea name="bio" placeholder="Type Bio Here"></textarea>
    <h5>Upload Photo Below</h5>
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Create Profile">
</form>
</div>
</div>
{% endblock content %}