{% extends 'base.html' %} {% block content %}
<div class="wrapper">
  <div class="card">
    <div class="card-content center">
      <img class="esponsive-img smallImg" src="{{ownerUser.url}}">
      <div class="userTitle center">{{ ownerUser.user }}</div>
      {% if ownerUser.user.id == user.id %}
      <a href="{% url 'get_update' ownerUser.id%}"><button class="btn right">Update profile</button></a>
      {% endif %}
    </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="labelClass"> Bio:</div>
        {{ownerUser.bio}}
        <br>
    </div>
    </div>
<div class="card center">
  <div class="card-content">
    <h2>Events</h2>
    <div class="row">
    {% for item in ownerUser.user_event_set.all  %}
    <div class="col s6">
    <div class="card">
        <div class="card-content">
    {{item.event}}
    <br>
    {{item.event.event_type}}
    <br>
    {{item.event.date}}
    <br>
    <a href="{% url 'event_detail' item.event.id user.id %}"><button class="btn">Details</button></a>
    
    
    {% if user.id == ownerUser.user.id %}
    <a href="{% url 'not_going' user.id item.event.id%}"><button class="btn">Not Going</button></a>
    {% endif %}
      

    </div>
  </div>
  </div>
    {% endfor %} 
  </div>
  </div>
  </div>
  <div>
    <form method="POST" action="{% url 'add_comment' ownerUser.user.id %}">
        {% csrf_token %}
        <input type="textarea" name="content" />
        <input type="submit" name="submit" />
      </form>
  </div>
  <div>
    {% for comment in comment.content_set.all %}
    <ul>
      <li>{{comment.user}}</li>
      <li>{{comment.content}}</li>
    
      {% if comment.user.id == user.id %}
      <li><a href="{% url 'update_comment' event.id comment.id user.id %}"><button>update</button></a></li>
      <a href="{% url 'delete_comment' event.id comment.id user.id %}">X</a>
      {% endif %}
        
    </ul>
    {% empty %}
    <p>No comments yet</p>
    {% endfor %} 
  </div>
    <!-- <form action="{% url 'add_bio' user.id%}" method="POST">
      {% csrf_token %}
      <input type="textarea" name="bio">
      <input type="submit" class="btn" value="upload bio">
    </form> -->
<!-- <form action="{% url 'add_photo' user.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
  </form> -->

{% endblock content %}
