{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EventBuds</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="navbar-fixed blue darken-4">
      <nav>
        <div class="nav-wrapper blue darken-4">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;EventBuds</a>
            </li>
          </ul>
          <ul class="right">
            <!-- changes below -->
            {% if user.is_authenticated %}
            <li><a href="{% url 'events' %}">Events</a></li>
            <li><a href="{% url 'search' %}">Search</a></li>
            <li><a href="{% url 'events_create' %}">Add An Event</a></li>
            <li><a href="{% url 'user_detail' %}">{{ user }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer blue darken-4">
      <div class="right">
        All Rights Reserved, &copy; 2022 EventBuds &nbsp;
      </div>
    </footer>
  </body>
</html>
