body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-image: url('/static/images/eventbg.jpg');
    background-size: cover;
    
  }

  html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%;
  } 
  
  main {
    flex: 1 0 auto;
  }
  
  .appname {
    font-family: 'Racing Sans One', cursive;
  }

  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  .smallImg{
    max-height: 10vh;
    max-width: 10vw;
    border-radius: 100%;
  }
  
  .mediumImg{
    max-height: 20vh;
    border-radius: 100%;
  }

  .wrapper{
  }
  .userTitle{
    display: inline-block;
    font-size: 40px;
  }

  .labelClass {
    display: inline;
    font-size: 30px;
  }

  .btn {
    background-color: #0077b6;
    border-radius: 10px;
  }

  .btn:hover {
    background-color: #48cae4;
    border-radius: 10px;
  }

  #event-photo {
    max-width: 30vh;
  }

  .backg{
    /* background-color:rgb(173,232,244);opacity:0.8; */
    background-color: rgba(241,250,248, 0.9);
    height: 100vh;
    padding: 0 30px 0 30px;

  }

  .container {
    margin-top: 0px;
  }

  h1{
    margin-top: 0px;
  }

  .round{
    border-radius: 25px;
  }

  .border{
    border-style: solid;
    padding: 10px;
    border-color: rgba(241,250,248, 0.99) ;
  }

  .nomargintop{
    margin-top: 0px;
  }

  .margintop{
    margin-top: 20px;
  }