body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-image: url('/static/images/eventbg.jpg');
    background-size: cover;
    font-family: 'League Spartan', sans-serif;
  }

  html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%;
  } 
  a{
    color: #0077b6;
  }

  a:hover {
    color: #48cae4;
  }
  main {
    flex: 1 0 auto;
  }
  
  .appname {
    font-family: 'Racing Sans One', cursive;
  }

  footer.page-footer {
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
  }

  .smallImg {
    margin: 10px;
    border-radius: 100%;
    /* float: left; */
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .mediumImg {
    max-height: 20vh;
    border-radius: 100%;
  }

  .userTitle {
    display: inline-block;
    font-size: 40px;
  }

  .labelClass {
    display: inline;
    font-size: 30px;
  }

  .btn {
    background-color: #0077b6;
    border-radius: 10px;
    margin: 10px;
    
  }

  .btn:hover {
    background-color: #48cae4;
    border-radius: 10px;
  }

  .backg {
    /* background-color:rgb(173,232,244);opacity:0.8; */
    background-color: rgba(241,250,248, 0.9);
    height: 100vh;
    padding: 0 30px 0 30px;
    overflow: auto;
  }

  .container {
    margin-top: 0px;
  }

  h1 {
    margin-top: 0px;
  }

  .round {
    border-radius: 10px;
  }

  .border {
    border-style: solid;
    padding: 10px;
    border-color: rgba(241,250,248, 0.99) ;
  }

  .nomargintop  {
    margin-top: 0px;
  }
  .margintopvh {
    margin-top: 10vh;
  }

  .margintop {
    margin-top: 20px;
  }

  .fonttitle {
    font-size: 60px;
    font-family: 'Racing Sans One', cursive;
  }

  #nav-avatar {
    margin: 10px;
    border-radius: 100%;
    /* float: left; */
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
    
  .oneH {
    height: 100%;
  }

  .commentUser {
    font-size: 20px;
  }

  .commentBorder {
    border-style: solid;
    border-color: rgba(241,250,248) ;
  }

  .avatarImg {
    margin: 10px;
    border-radius: 100%;
    /* float: left; */
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .flexy {
    display: flex;
  }

  .fill {
    margin: 5px;
    max-height: 100%;
    max-width: 100%;
  }

  .addEvent {
    float: right;
  }
    
  .fillcard{
    max-height: 100%;
    max-width: 100%;
  }
  .eventPhoto {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .wrap {
    width: 80%;
  }
  .commentcenter{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
  }

  .card{
    border-radius: 10px;
  }


  @media only screen and (max-width: 800px){

    .btn {
      width: 40px;
      height: 20px;
      font-size: 4px;
      padding: 0;
    }



  }